.design8 {
    .button {
        border: 1px solid #c9a3ee;
        border-radius: 6px;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #8e56c7;
    }
}