.design8 {
    .module-title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 30px;
        line-height: 167%;
        margin-bottom: 6px;
        color: var(--color-title);
        margin-left: 2px;
    }
}
