.design8 {
    .module2 {
        padding-top: 8px;
        padding-bottom: 25px;
        &__image {
            margin-bottom: 10px;
        }
        &__message {
            margin-bottom: 27px;
            color: #717171;
        }
    }
}